/* 導覽列 */
#narbar {
  background-color: #d8ddcf;
  height: 50px;
}

.row {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.column1 {
  width: 100%;
  padding: 5px;
  margin-left: 10%;
}

.column2 {
  width: 50%;
  padding: 5px;
}


/* 內文 */
/* #imgDiv>img{
  max-width: 100%;
  height: auto;
}

#content {
  margin-top: 3%;
  background-color: #d8ddcf;
  width: 85%;
  padding: 40px;
  font-size: 20px;
}
#content > div:nth-child(1) > img:nth-child(1) {
  height: 70px;
  border-radius: 50px;
  position: relative;
  top: -15px;
  left: -1%;
}

#content > div:nth-child(1) > div {
  font-size: 20px;
  position: relative;
  top: -43px;
  left: 1%;
}

#content > div:nth-child(1) > img:last-child {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  position: relative;
  top: -15px;
  left: -1%;
}

#content > div:nth-child(1) > * {
  display: inline-block;
  position: relative;
  top: 100px;
  left: 10%;
}

#content > div:nth-child(3) {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
} */
/* 測試 */
/* 內文 */
#imgDiv>img{
  max-width: 100%;
  height: auto;
}

#content {
  margin-top: 3%;
  background-color: #d8ddcf;
  width: 85%;
  padding: 40px;
  font-size: 20px;
}
#content > div:nth-child(1) > img:nth-child(1) {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  position: relative;
  top: -15px;
  left: -1%;
}

#content > div:nth-child(1) > div {
  font-size: 30px;
  position: relative;
  top: -40px;
  left: 1%;
}

#content > div:nth-child(1) > img:last-child {
  height: 40px;
  position: relative;
  top: -30px;
  left: 70%;
}




#content > div:nth-child(1) > * {
  display: inline-block;
  position: relative;
  /* top: 100px; */
  left: 10%;
}

#content > div:nth-child(1) > i {
  display: inline-block;
  position: relative;
  top: -40px;
  left: 70%;
  color: crimson;
  font-size: 40px;
}

#content > div:nth-child(3) {
  display: flex;
  /* justify-content: center; */
  margin-bottom: 30px;
}

/* 留言歷史 */
#mesHis {
  margin-top: 3%;
  background-color: #d8ddcf;
  width: 85%;
  margin-left: 0%;
  padding: 40px;
}

.headDiv > .headDivChi > * {
  display: inline-block;
}

.headDiv > .headDivChi > p {
  font-size: 20px;
  position: relative;
  top: -15px;
}

.headDivChi2 > * {
  display: inline-block;
}

.headDivChi2 > p {
  width: 90%;
  font-size: 18px;
  margin-top: 1%;
}

.headDivChi2 > button {
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  margin-left: 70%;
  color: rgb(42, 42, 42);
}

.headDivChi2 > button:hover {
  color: rgb(160, 155, 155);
  cursor: pointer;
}

.headDivChi > img {
  height: 60px;
  width:60px;
  border-radius: 50px;
}




/* 留言 */
#mes {
  margin-top: 3%;
  background-color: #d8ddcf;
  width: 85%;
  margin-left: 0%;
  padding: 40px;
}
#mes > form > div:nth-child(1) > img {
  height: 60px;
  border-radius: 50px;
}

#mes > form > div:nth-child(1) > * {
  display: inline-block;
}

#mes > form > div:nth-child(1) > p {
  font-size: 20px;
  position: relative;
  top: -20px;
}


textarea {
  width: 90%;
  height: 100px;
  font-size: 20px;
  background-color: #d8ddcf;
  border: transparent;
  resize: none;
  position: relative;
  left: 10px;
}
textarea:focus {
  outline: transparent;
}

#mes > form > :last-child > input[type="submit"] {
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  position: relative;
  margin-left: 70%;
}

#mes > form > :last-child > input[type="submit"]:hover {
  color: rgb(160, 155, 155);
  cursor: pointer;
}

/* 側邊欄 */
aside {
  height: auto;
  width: 25%;
  background-color: #d8ddcf;
  position: absolute;
  top: 100px;
  right: 6%;
}

aside > h1 {
  text-align: center;
}

.article2 {
  background-color: #f8f6f2;
  margin: 0 5% 0 5%;
  /* height: 160px; */
}

.article2 > h3 {
  text-align: center;
  margin: -5% 5%;
}

.article2 > h5 {
  text-align: center;
}

.article2 > p {
  margin: 0 0 9% 0;
}


@media screen and (max-width:1000px){
  #content > div:nth-child(1) > img:last-child {
    left: 60%;
  }
}

@media screen and (max-width:600px){
  #content > div:nth-child(1) > img:last-child {
    left: 50%;
  }
  .column2 {
    display: none;
  }

  .row {
    display: flex;
    justify-content: center;
    justify-items: center;

    margin-left: -10%;
    margin-bottom: 10%;
  }

}