/* 導覽列 */
#navBar {
  background-color: #b1bba0;
  height: 50px;
}

h1 {
  text-align: center;
  color: #664c43;
}

/* 表單 */
#FormContainer {
  background-color: #d8ddcf;
  width: 80%;
  margin-left: 6%;
  font-size: 25px;
  padding: 50px;
  color: #333232;
}

input[type="text"] {
  background-color: #d8ddcf;
  border: transparent;
  font-size: 25px;
}

input[type="radio"] {
  transform: scale(1.5);
}

#content {
  font-size: 20px;
}

input[type="text"]:focus {
  outline: none; /* 隱藏預設的focus樣式 */
  border-color: transparent; /* 設置邊框顏色為透明 */
}
textarea {
  width: 90%;
  height: 300px;
  font-size: 20px;
  background-color: #d8ddcf;
  border: transparent;
  resize: none;
}
textarea:focus {
  outline: transparent;
}
button {
  margin-top: 30px;
  border: transparent;
  font-size: 30px;
  background-color: #b1bba0;
  color: #664c43;
}
/* input[type="file"] {
  display: none;
} */

label {
  cursor: pointer;
}

#bt{
  margin-left: 75%;
}

label > img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  #FormContainer {
    background-color: #d8ddcf;
    width: 60%;
    margin-top: 2%;
    margin-left: 15%;
    font-size: 25px;
    padding: 50px;
    color: #333232;
  }
}

@media screen and (max-width: 760px) {
  button {
    margin-top: 30px;
    border: transparent;
    font-size: 20px;
  }

  #FormContainer {
    margin-left: 11%;
  }

  #bt {
    margin-left: 50%;
  }

  input[type="radio"] {
    transform: scale(1);
  }

  form {
    font-size: 20px;
  }
}
