* {
  box-sizing: border-box;
}

body {
  background-color: #D8DDCF;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#mainContent {
  background-color: #f8f6f2;
  width: 1200px;
  margin: auto;
}

#logo {
  text-align: center;
  padding: 20px 0;
  background-color: #B1BBA0;
}

/* 登入按鈕位置 */
#memberSection {
  position: absolute;
  top: 50px;
  right: 7%;
  display: flex;
  align-items: center;
}

#BtLogin {
  background-color: #D8DDCF;
  border-radius: 5px;
  font-size: 25px;
  border: transparent;
  color: #664c43;
}

#BtLogin:hover {
  background-color: #F8F6F2;
}

#memberIcon {
  width: 60px;
  border-radius: 50%;
  margin-left: 20px;
  padding: 3px;
  border: 1px solid #664c43;
}

#memberIcon:hover {
  opacity: 0.7;
}

/* 照片置中 */
#section1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.webFeature {
  width: 25%;
  padding: 5px;
  background-color: #B1BBA0;
  text-align: center;
  border-radius: 5px;
}

.webFeature:hover {
  opacity: 0.7;
}

.pngDiv {
  background-color: #f8f6f2;
  margin: 20px auto;
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePng {
  width: 70%;
  margin: 20px;
}

.featureTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #664c43;
}

/* 標題置中 */
h2 {
  text-align: center;
  color: #664c43;
}

#newFeel,
#newForum {
  margin-top: 60px;
}

/* 心得卡片 */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width:300px;
  height: 364px;
  margin: 50px;
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
}

.card > img {
  width: 100%;
  height:200px;
}

h5 {
  max-width: 100%;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 100px;
}
.slider {
  width: 100%;
}

.slick-prev {
  right: 98%;
  top: 50%;
  transform: translateY(0%);
}

.slick-next {
  left: 98%;
  bottom: 50%;
  transform: translateY(0%);
}

#footer {
  background-color: #B1BBA0;
  height: 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 60px 0 -20px 0;
  color: #664c43;
  font-size: 20px;
}

.menu {
  float: right;
  line-height: 70px;
  padding-left: 0;
  margin-bottom: 0;
}

.menu li {
  float: left;
  list-style-type: none;
}

.menu li a {
  display: flex;
  color: #664c43;
  text-decoration: none;
  line-height: 70px;
  padding: 0 1em;
}

.menu li a:hover {
  background-color: #a1ac8e;
  color: #ffffff;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1200px) {
  .column {
    width: 30%;
    margin-bottom: 5%;
  }

  #BtLogin {
    font-size: 20px;
    text-align: right;
    top: 20px;
    right: 3%;
  }

  #logo {
    font-size: 50px;
  }

  .sliderContainer {
    margin-left: 1%;
    padding: 20px;
  }
  .slick-prev {
    margin-left: 30px;
  }
  
  .slick-next {
    left: 99%;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 70%;
    margin-bottom: 5%;
  }

  #BtLogin {
    font-size: 20px;
    text-align: right;
    top: 20px;
    right: 3%;
  }

  #logo {
    font-size: 40px;
    text-align: left;
  }

  .sliderContainer {
    margin-left: 15%;
    padding: 20px;
  }
  .slick-prev {
    margin-left: -20px;
  }
  
  .slick-next {
    left: 90%;
    transform: translateY(0%);
  }

  .slick-dots {
    left:-35px;
  }



}