* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.tablink {
    background-color: #D8DDCF;
    color: #4B3730;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: #B1BBA0;
}

h1 {
    font-size: 48px;
}

#mainContent {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    margin: auto;
}

#leftBar {
    width: 20%;
    border: 1px solid #4B3730;
    height: fit-content;
    min-width: 200px;
}

#leftBar ul {
    padding: 0;
    margin: 0;
}

#leftBar li {
    list-style-type: none;
    line-height: 50px;
    padding-left: 40px;
}

#leftBar li:hover {
    background-color: #D8DDCF;
}

#leftBar a {
    text-decoration: none;
    display: block;
    color: #4B3730;
}

.current {
    background-color: #D8DDCF;
}

#mobileLeftBar {
    display: none;
    width: 90%;
    border: 1px solid #4B3730;
    margin-bottom: 30px;
}

#mobileLeftBar ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

#mobileLeftBar li {
    float: left;
    list-style-type: none;
    width: 20%;
    line-height: 50px;
    text-align: center;
}

#mobileLeftBar li:hover {
    background-color: #D8DDCF;
}

#mobileLeftBar a {
    text-decoration: none;
    display: block;
    color: #4B3730;
}

.mainContent {
    width: 70%;
    margin-bottom: 70px;
    border: 1px solid #4B3730;
    padding: 30px 0;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 800px) {
    #leftBar {
        display: none;
    }

    #mobileLeftBar {
        display: block;
    }

    .mainContent {
        width: 90%;
        margin-bottom: 70px;
        border: 1px solid #4B3730;
        padding: 30px 0;
    }
}

@media screen and (max-width: 600px) {}