.row {
    display: block;
    margin: auto;
}

#weatherForm {
    width: fit-content;
    margin: 20px auto;
}

#weather h3 {
    color: #664c43;
}

#chooseBtn {
    padding: 10px 20px;
    border: 1px solid #664c43;
    border-radius: 10px;
    background-color: #D8DDCF;
}

#chooseBtn:hover {
    background-color: #B1BBA0;
}

#weather table {
    text-align: center;
    position: relative;
    border-collapse: collapse;
}

#weather thead {
    font-size: 20px;
}

#weather table,
tr,
td {
    border: 1px solid #664c43;
    padding: 8px;
    width: max-content;
    height: 50px;
}


#weather td>img {
    width: 80px;
}

#weather select {
    width: 150px;
    height: 36px;
    cursor: pointer;
    margin: 0 10px;
}

#weather form>span {
    font-size: 20px;
}

#weather .t1 {
    font-size: 18px;
    width: 100px;
    background-color: #B1BBA0;
    position: sticky;
    left: 0;
}

#weather .tablesticky {
    width: 100%;
    height: fit-content;
    overflow: auto;
    border: 2px solid #664c43;
    border-radius: 20px;
    margin-bottom: 10px;
}
